{% extends "master.html" %}
{% load static %}
{% block content %}
<a href="{% url 'main' %}" class="back-link" style="display: inline-block; padding: 10px 20px; margin-top: 20px; background-color: #4CAF50; color: white; border-radius: 5px; text-decoration: none; font-size: 16px; text-align: center;position: absolute;left: 20px; top: 20px;">Quay lại trang chính</a>
<img src="{% static 'app/images/3.jpg' %}" style="max-height: 585px; width: 585px; border-radius: 10px;">
<div class="shadow-wrap">
  <div class="form-wrap">
    <h2>Cổng đăng nhập cho Hiệu Trưởng</h2>
    {% if messages %}
      {% for message in messages %}
        <div class="{% if message.tags %}alert alert-{{ message.tags }}{% endif %}" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    <form method="POST" action="{% url 'login_hieutruong' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="username">Tên người dùng:</label>
        <input type="text" id="username" name="username">
      </div>
      <div class="form-group">
        <label for="password">Mật khẩu:</label>
        <input type="password" id="password" name="password">
      </div>
      <button type="submit">Đăng nhập</button>
    </form>
  </div>
</div>
{% endblock content %}
