{% extends "master.html" %}
{% load static %}
{% block content %}
<img src="{% static 'app/images/3.jpg' %}" style="max-height: 620px; width: 620px; border-radius: 10px;">
<div class="shadow-wrap">
  <div class="form-wrap">
    <h2>Cổng đăng nhập cho Hiệu Trưởng</h2>
    {% if messages %}
      {% for message in messages %}
        <div class="{% if message.tags %}alert alert-{{ message.tags }}{% endif %}" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    <form method="POST" action="{% url 'login_hieutruong' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="username">Tên người dùng:</label>
        <input type="text" id="username" name="username">
      </div>
      <div class="form-group">
        <label for="password">Mật khẩu:</label>
        <input type="password" id="password" name="password">
      </div>
      <button type="submit">Đăng nhập</button>
    </form>
  </div>
</div>
{% endblock content %}
