{% extends 'login/hieutruong_base.html' %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mt-5">
                <div class="card-header">
                    <h5 class="card-title">Đăng Xuất</h5>
                </div>
                <div class="card-body">
                    <p>Bạn đã đăng xuất khỏi hệ thống thành công.</p>
                    <p><a href="{% url 'quanlyluong' %}">Đăng nhập lại</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
