{% extends 'login/emp_base.html' %}

{% block main %}
    <h4 class="text-danger p-2" style="border-bottom: 2px solid orange;">Tìm kiếm giảng viên</h4>
    <div class="row">
        <div class="col-sm-12">
            <form method="GET" action="{% url 'search' %}">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Nhập tên giảng viên..." name="q" value="{{ query }}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Tìm kiếm</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {% if giang_viens %}
                {% for giang_vien in giang_viens %}
                    <li>{{ giang_vien.HOTEN }}</li>
                    <a href="{% url 'view' magiangvien=giang_vien.MAGIANGVIEN %}" class="list-group-item list-group-item-warning list-group-item-action ">
                        XEM THÔNG TIN GIẢNG VIÊN
                    </a>
                    <a href="{% url 'update_salary' magiangvien=giang_vien.MAGIANGVIEN %}" class="list-group-item list-group-item-warning list-group-item-action ">
                        CẬP NHẬT HỆ SỐ LƯƠNG
                    </a>
                    <a href="{% url 'salary_slip' magiangvien=giang_vien.MAGIANGVIEN %}" class="list-group-item list-group-item-warning list-group-item-action ">
                        IN PHIẾU LƯƠNG
                    </a>
                {% endfor %}
            {% else %}
                <p>Không tìm thấy giảng viên nào.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
